@import url('https://fonts.googleapis.com/css?family=Modak|Nosifer');

*{
    transition: .5s;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nosifer', cursive;
}

/*navbar*/
.navbar-inverse{
    border-radius: 0;
}

.navbar{
    margin-bottom: 0;
}

/*cover*/
.cover{
    width: 100%;
    height: 1333px;
    background: url(../../img/background/confortableDesk.jpg);
    background-size: cover;
    background-position: center;
}

.cover i {
    font-size: 65px;
}

    /*title*/

.mainInfo{
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-top: 15%;
    width: 700px;
    max-width: 80%;
}



h1{
    padding: 0;
}

.coverH1{
    font-size: 80px;
    margin: 0;
}


.coverH2{
    width: 70%;
    margin: 0 auto;
}

.coverH2:after{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background: #fff;
    margin: 10px auto 20px auto;
}

.shadow{
    text-shadow: 
        0px 2px 1px rgba(22,22,22,0.8) ,
        0px 1px 4px rgba(22,22,22,0.3) , 
        0px 4px 10px rgba(55,55,55,0.1);
}

.clear{
    clear: both;
}

/*downward Arrow*/
.arrow{
    margin: 0 auto;
    width: 15%;
    text-align: center;
}

.arrow i{
    font-size: 40px;
    
    color: white;
    
}

/*break*/
.break{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #292F38;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    &:hover{
        color: #43B9D3;
        transition: .3s;
    }
}

/*slider*/

/*jobs*/
.jobs{
    width: 100%;
    height: 600px;
    background: url(../../img/background/bethany-legg-9248.jpg);
    background-size: cover;
    background-position: center;
}

/*pages*/
.pages{
    text-align: center;
}

/*copyright*/
.copyright{
    color: white;
    text-align: center;
}